<html lang="ru">
    <head>
        <link href="../styles/home.css" rel="stylesheet">
        <title>Домашняя страница</title>
    </head>
    <body>
        <div class="heading">
            <h1>Что может быть лучше дома?</h1>
            <h3>Дом, милый дом...</h3>
        </div>
        <div class="content">
            <div class="left_text">
                <p id="ltp">
                    Вы попали на домашнюю страницу персонального сайта студента <br>
                    Ульяновского государственного технического университета<br>
                    группы ИВТАСбд-11 Нуждова Дмитрия.<br>
                    <br>
                    Этот сайт был разработан во время выполнения лабораторных работ <br>
                    по дисциплине «Интернет-программирование».<br>
                    <br>
                    Как говорится, добро пожаловать!
                </p>
            </div>
            <div class="right_image">
                <img id="htp" src="../images/hi_there.png" alt="Failed to load.">
            </div>
        </div>
    </body>
</html>
