<html lang="ru">
    <head>
        <link href="../styles/photos.css" rel="stylesheet">
        <title>Фотогалерея</title>
    </head>
    <body>
        <div class="heading">
            <h1>Нет, ну вы посмотрите!</h1>
            <h3>Красиво, не правда ли? :)</h3>
        </div>
        <div class="content">
            <div class="slideShow">
                <img src="../images/gallery/Blooming.jpg" alt="">
                <img src="../images/gallery/Boats.jpg" alt="">
                <img src="../images/gallery/Moraine_Lake_at_night.jpg" alt="">
                <img src="../images/gallery/Tower.jpg" alt="">
            </div>
            <div class="navBar">
                <button id="g_prev" onclick="leftButtonHandler()">
                    <img src="../images/nav/next.png" style="transform: rotate(-180deg);" alt="Previous">
                </button>
                <label id="g_title">Название</label>
                <button id="g_next" onclick="rightButtonHandler()">
                    <img src="../images/nav/next.png" alt="Next">
                </button>
            </div>
        </div>
    </body>
    <script src="../scripts/galleryAnimator.js"></script>
</html>
