body {
    padding: 20px;
    margin: 0;
}

.heading {
    margin-bottom: 30px;
    width: 50%;
}

.heading h1 {
    font-size: 28px;
    font-family: Arial, serif;
    color: white;
    margin: 0;
}

.heading h3 {
    font-size: 18px;
    font-family: Arial, serif;
    color: white;
    margin: 0;
}

.heading h1 + h3 {
    margin-top: 10px;
}

.left_text {
    width: 50%;
    float: left;
}

.right_image {
    float: right;
}

#ltp {
    font-size: 18px;
    font-family: Arial, serif;
    color: white;
    margin: 0;
}

#htp {
    width: 324px;
    height: 324px;
    color: white;
    position: absolute;
    right: 48px;
    top: 32px;
}
