<html lang="ru">
    <head>
        <link href="../styles/about.css" rel="stylesheet">
        <title>О себе</title>
    </head>
    <body>
        <div class="heading">
            <h1>Если коротко, то я студент</h1>
            <h3>Хотите узнать больше? Прочтите текст ниже.</h3>
        </div>
        <div class="content">
            <p>
                Получаю высшее образование в Ульяновском государственном техническом университете на направлении «Информатика и вычислительная техника». <br>
                Это направление было выбрано не просто так. В детстве я начал интересоваться тем, как работает та или иная часть компьютера (как аппаратная, так и программная). <br>
                В итоге, на сегодняшний день моя заинтересованность дала некоторые результаты. Так были созданы несколько программных продуктов (в основном, простые игры или парсеры). <br>
            </p>
            <p>
                В качестве выпускного проекта по информатике была разработана собственная реализация игры «Змейка». Во время изучения разработки под Android были написаны: игра «Сапёр», <br>
                парсер пабликов ВК и парсер сайта с готовыми домашними заданиями (просто захотелось). Кроме того, пришлось научиться пользоваться сниффером и другими инструменты <br>
                для реверс-инжинирига. Также я освоил (хоть и не в совершенстве) несколько языков программирования (C++, Java, Python), а в данный момент начинаю изучать Rust. <br>
                Когда я программировал на Python, мной были написаны несколько парсеров и чат-ботов для ВКонтакте и Telegram (в основном для личного пользования), <br>
                но один из чат-ботов оказался успешнее остальных (использовался в беседе класса на протяжении 3 лет).
            </p>
            <p>
                Сейчас, во время обучения в университете, планирую изучать разработку для встраиваемых систем. <br>
            </p>
            <p>
                В будущем хочу стать востребованным специалистом в сфере информационных технологий, и своими разработками (или в команде) сделать мир чуточку лучше. :)
            </p>
        </div>
    </body>
</html>
