<html lang="ru">
    <head>
        <link href="../styles/contacts.css" rel="stylesheet">
        <link href="../styles/fonts.css" rel="stylesheet">
        <title>Контакты</title>
    </head>
    <body>
        <div class="heading">
            <h1>А вам зачем?</h1>
            <h3>... если очень нужно, то ознакомьтесь со списком ниже.</h3>
        </div>
        <div class="content">
            <div id="github" class="card">
                <img id="ghp" src="../images/icons/contacts/github.png" alt="Failed to load.">
                <label id="ght" class="title">GitHub</label>
                <label id="ghn" class="subtitle">@hexumee</label>
                <a id="ghb" href="https://github.com/hexumee" target="_blank" rel="noopener noreferrer">Перейти</a>
            </div>
            <div id="telegram" class="card">
                <img id="tgp" src="../images/icons/contacts/telegram.png" alt="Failed to load.">
                <label id="tgt" class="title">Telegram</label>
                <label id="tgn" class="subtitle">@hexumee</label>
                <a id="tgb" href="https://t.me/hexumee" target="_blank" rel="noopener noreferrer">Перейти</a>
            </div>
            <div id="mail" class="card">
                <img id="emp" src="../images/icons/contacts/email.png" alt="Failed to load.">
                <label id="emt" class="title">E-Mail</label>
                <label id="emn" class="subtitle">hexumee@mail.net</label>
                <a id="emb" href="mailto:hexumee@mail.net" target="_blank" rel="noopener noreferrer">Написать</a>
            </div>
            <div id="discord" class="card">
                <img id="dcp" src="../images/icons/contacts/discord.png" alt="Failed to load.">
                <label id="dct" class="title">Discord</label>
                <label id="dcn" class="subtitle">hexumee#9966</label>
                <a id="dcb" href="https://discord.com/users/530753924177592340" target="_blank" rel="noopener noreferrer">Перейти</a>
            </div>
            <div id="noMore" class="card">
                <label id="nmt" class="title">Это все.</label>
            </div>
        </div>
    </body>
</html>
