<html lang="ru">
    <head>
        <link href="../styles/done.css" rel="stylesheet">
        <title>Выполненные работы</title>
    </head>
    <body>
        <div class="heading">
            <h1>Хоть я и ленивый, ...</h1>
            <h3>... но все-таки иногда работаю.</h3>
        </div>
        <div class="content">
            <div id="snake" class="card">
                <img id="ski" src="../images/works/screenshot.png" alt="">
                <div class="rc">
                    <h2>Компьютерная игра «Змейка»</h2>
                    <p>
                        Этот проект был выполнен во время обучения в 11 классе в качестве выпускной работы по информатике. Написано на языке С++ с использованием SDL2.
                    </p>
                </div>
                <a href="https://github.com/hexumee/SnakeGame" target="_blank" rel="noopener noreferrer">Перейти на GitHub</a>
            </div>
            <div id="boanp" class="card">
                <img id="api" src="../images/works/labs.jpg" alt="">
                <div class="rc">
                    <h2>Лабораторные работы по ОАиП</h2>
                    <p>
                        В этом репозитории собраны лабораторные работы по дисциплине «Основы алгоритмизации и программирование» за 1-ый семестр. Написано на языке Cи (иногда с использованием WinAPI).
                    </p>
                </div>
                <a href="https://github.com/hexumee/BoPLabs" target="_blank" rel="noopener noreferrer">Перейти на GitHub</a>
            </div>
            <div id="boit" class="card">
                <img id="iti" src="../images/works/labs1.jpg" alt="">
                <div class="rc">
                    <h2>Лабораторные работы по ОИТ</h2>
                    <p>
                        В этом репозитории собраны лабораторные работы по дисциплине «Основы информационных технологий» за 1-ый семестр. Написано на языке C++.
                    </p>
                </div>
                <a href="https://github.com/hexumee/BoITLabs" target="_blank" rel="noopener noreferrer">Перейти на GitHub</a>
            </div>
            <div id="oop" class="card">
                <img id="ooi" src="../images/works/oop.png" alt="">
                <div class="rc">
                    <h2>Лабораторные работы по ООП</h2>
                    <p>
                        В этом репозитории собраны лабораторные работы по дисциплине «Объектно-ориентированное программирование» за 2-ой семестр. Написано на языке Java.
                    </p>
                </div>
                <a href="https://github.com/hexumee/OOPLabs" target="_blank" rel="noopener noreferrer">Перейти на GitHub</a>
            </div>
            <div id="ladm" class="card">
                <img id="dmi" src="../images/works/ladm.png" alt="">
                <div class="rc">
                    <h2>Лабораторные работы по ДМ</h2>
                    <p>
                        В этом репозитории собраны лабораторные работы по дисциплине «Математическая логика и дискретная математика» за 2-ой семестр. Написано на HTML, CSS и JavaScript.
                    </p>
                </div>
                <a href="https://github.com/hexumee/LaDMLabs" target="_blank" rel="noopener noreferrer">Перейти на GitHub</a>
            </div>
            <div id="no_more" class="card">
                <h3>На этом пока все. Позже здесь обязательно появится что-то еще.</h3>
            </div>
        </div>
    </body>
</html>
