<html lang="ru">
    <head>
        <link href="../styles/home.css" rel="stylesheet">
        <link href="../styles/fonts.css" rel="stylesheet">
        <title>Домашняя страница</title>
    </head>
    <body>
        <div id="centerView">
            <div class="heading">
                <h1>Что может быть лучше дома?</h1>
                <h3>Дом, милый дом...</h3>
            </div>
            <div class="content">
                <p>
                    Вы попали на домашнюю страницу персонального сайта студента Ульяновского государственного технического университета группы ИВТАСбд-11 Нуждова Дмитрия.<br>
                    <br>
                    Этот сайт был разработан с помощью IDE PhpStorm во время выполнения лабораторных работ по дисциплине «Интернет-программирование» в 2022 году.<br>
                    <br>
                    Как говорится, добро пожаловать!
                </p>
            </div>
        </div>
    </body>
    <script src="../scripts/fragmentManager.js"></script>
</html>
