body {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.heading {
    margin-bottom: 32px;
}

.heading h1 {
    font-size: 28px;
    font-family: "Nunito", serif;
    color: white;
    margin: 0;
}

.heading h3 {
    font-size: 18px;
    font-family: "Nunito", serif;
    color: white;
    margin: 0;
}

.heading h1 + h3 {
    margin-top: 10px;
}

.content p {
    width: 85%;
    font-family: "Nunito", serif;
    font-size: 18px;
    color: white;
}
