body {
    padding: 64px 20px 20px 20px;
    margin: 0;
    display: flex;
}

.heading {
    margin-bottom: 32px;
}

.heading h1 {
    font-size: 32px;
    font-family: "Nunito", serif;
    color: white;
    margin: 0;
}

.heading h3 {
    font-size: 20px;
    font-family: "Nunito", serif;
    color: white;
    margin: 0;
}

.heading h1 + h3 {
    margin-top: 10px;
}

.content p {
    font-size: 20px;
    font-family: "Nunito", serif;
    color: white;
}

#centerView {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
